* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 50px; /* 高さ50px */
  background-color: red; /* 背景色red */
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ500px */
  background-color: orange; /* 背景色orange */
}

.main-visual-content {
  width: 350px; /* 横幅350px */
  height: 300px; /* 親の高さに揃える */
  background-color: gold; /* 背景色gold */
}

.main {
  width: 840px; /* 横幅840px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.sidebar-left {
  width: 230px; /* 横幅230px */
  height: 1400px; /* 高さ1400px */
  background-color: palegreen; /* 背景色palegreen */
}

.blog {
  width: 500px; /* 横幅500px */
  height: 1400px; /* 高さ1400px */
  background-color: limegreen; /* 背景色limegreen */
}

.sidebar-right {
  width: 230px; /* 横幅230px */
  height: 1400px; /* 高さ1400px */
  background-color: palegreen; /* 背景色palegreen */
}

.footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  background-color: blue; /* 背景色blue */
}